/* CallButton.css */

.call-button {
  position: fixed;
  left: 20px; /* Adjust the distance from the left edge */
  bottom: 20px; /* Adjust the distance from the bottom edge */
  display: inline-block;
  cursor: pointer;
  animation: dance 2s linear infinite;
  z-index: 1000;
}

.call-icon {
  font-size: 3rem; /* Adjust the size as needed */
  color: #007bff; /* Adjust the color as needed */
}

@keyframes dance {
  0% {
    transform: translate(0, 0);
  }
  25% {
    transform: translate(10px, -10px);
  }
  50% {
    transform: translate(0, 0);
  }
  75% {
    transform: translate(-10px, 10px);
  }
  100% {
    transform: translate(0, 0);
  }
}
