/* WhatsAppButton.css */
.whatsapp-button {
  position: relative;
  display: inline-block;
  cursor: pointer;
  animation: dance 2s linear infinite;
}

.whatsapp-icon {
  font-size: 3rem; /* Adjust the size as needed */
  color: rgb(54, 177, 54); /* Adjust the color as needed */
}

.rotate-text {
  position: absolute;
  text-align: center;
  animation: dance 2s linear infinite reverse;
}

@keyframes dance {
  0% {
    transform: translate(0, 0);
  }
  25% {
    transform: translate(10px, -10px);
  }
  50% {
    transform: translate(0, 0);
  }
  75% {
    transform: translate(-10px, 10px);
  }
  100% {
    transform: translate(0, 0);
  }
}
