.hero-video-container {
  display: flex;
  flex-flow: column nowrap;
  position: relative;
  height: 650px;
  background-color: black;
}

.hero-video {
  height: 100%;
  background-color: rgb(0, 0, 0);
  opacity: 0.4;
}

.hero-video-container video {
  object-fit: cover;
}

.hero-text {
  position: absolute;
  color: white;
  top: 10em;
  text-align: center;
  align-self: center;
}

.hero-text h1 {
  font-size: 3.5em;
  align-self: center;
  font-weight: bold;
  align-items: start;
}
.hero-text h2 {
  margin-top: 0px;
  font-size: 1.2em;
  opacity: 0.8;
  font-weight: bold;
}

@media (min-width: 768px) {
  .hero-video-container {
    height: 810px;
  }
  .hero-text h1 {
    font-size: 6em;
    align-self: center;
    font-weight: bold;
  }
  .hero-text h2 {
    margin-top: 30px;
    font-size: 1.5em;
    opacity: 0.8;
    font-weight: bold;
  }
}
